<!Doctype html>
<html>
<head>
    <title>视频分享</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="__PUBLIC__/Mobile/css/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Mobile/css/jquery-weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Mobile/css/comm.css">
    
    <script type="text/javascript" src="__PUBLIC__/Mobile/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Mobile/js/jquery-weui.min.js"></script>
</head>

<body>
    {__CONTENT__}
    <p class="watermark">视频分享</p>
</body>
</html>